<p>
	lorem ipsum as
</p>
<div class="slider-wrapper">
	<div id="slider" class="nivoSlider">
		<%= image_tag('home/slider1.jpeg', :title => 'Slider 1')%>
		<%= image_tag('home/slider2.jpeg', :title => 'Slider 2')%>
		<%= image_tag('home/slider3.jpeg')%>
		<%= image_tag('contact/amaya.jpeg')%>
	</div>
</div>