<h2>Staff</h2>
<div class="left">
	Photos
</div>
<div class="right">
	<h3>Bob Rising Jr.</h3>
	<p>
		About 40 years ago, he went into business for himself with the goal of being the best roofer around. That’s right, his roofing business has been around LONGER than his beard. He did succeed in his goal, and he’s been gracing Northern Ohio with the craftsmanship of his work ever since.
	</p>
	<p>
		Fortunately for him, and for anyone in Northern Ohio for whom he hasn’t had time to install a roof for yet, he doesn’t work alone anymore.  Sons Bob and Skylar more or less run things lately, with plenty of vocal input from Pop.
	</p>
</div>
<div class="clear_divs"></div>
<div class="bridge"></div>
<hr>
<div class="left">
	Photos
</div>
<div class="right">
	<h3>Bob Rising Jr. II</h3>
	<p>
		Despite their youthful appearances, these two have accumulated a substantial amount of experience of their own: hundreds of projects each, both residential, commercial and industrial, and the experience that comes with working meaningfully in several relevant fields since their teens.  Despite their best efforts, however, neither of them has begun to approach their predecessor in one very important field: the most “follicular” of pursuits.  Brother, Rocky, is , despite his young age, the undisputed leader in this respect.
	</p>
</div>
<div class="clear_divs"></div>
<div class="bridge"></div>
<hr>
<div class="left">
	Photos
</div>
<div class="right">
	<h3>Skylar Rising</h3>
</div>
<div class="clear_divs"></div>
<div class="bridge"></div>
<hr>
<div class="left">
	Photos
</div>
<div class="right">
	<h3>Rocky Rising</h3>
</div>
<div class="clear_divs"></div>